{% extends 'BackendBundle::backend.html.twig' %}

{% block body -%}
    <h1>Tienda creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('backend_tiendas') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
