{% extends 'BackendBundle::backend.html.twig' %}

{% block article -%}
    <h1>Usuario edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('backend_usuarios') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
